body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    color: #333;
    text-align: center;
}

form div {
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#questions-container {
    margin-bottom: 20px;
}

#take-quiz {
    margin-top: 50px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
